.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ButtonArea{
  margin-left: 450px;
}

.description_intro{
  text-align: center;
}

.regist_intro{
  margin-left: 30px;
}

.mainButton{
  padding: 15px 32px;
  text-align: center;
  margin-right: 100px;
}

.MainRegistButton{
  padding: 10px 20px;
  text-align: center;
  margin-left: 50px;
}

.Common_description{
  margin-left: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.StudentPageButton{
  padding: 5px 20px;
  text-align: center;
  margin-left: 250px;
}

.speicalButton{
  padding: 5px 20px;
  text-align: center;
  margin-top: 2px;

}

.Common_descriptionT{
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.listInfo{
  font-size: 20px
}